{% extends "layout.html" %}

{% block title %}
  About DuStein
{% endblock %}

{% block main %}
<h1>About Me</h1>
<h3 class="mb-2">Hello CS50 !</h3>
<div class="border rounded-pill">

  <p class="fs-2 mt-4">Name: <strong>Eduardo Stein</strong></p>
  <p class="fs-2">Nickname: DuStein</p>
  <p class="fs-2">Project's title: RASCore Web App</p>
  <p class="fs-2">Github: github.com/<strong>dustein</strong></p>
  <p class="fs-2">edX username: <strong>DusteinBR</strong></p>
  <p class="fs-2">Country: Brazil</p>
  <p class="fs-2">Date: 2024/12/28</p>
</div>
{% endblock %}