{% extends "layout.html" %}

{% block Title %}
    Início
{% endblock %}

{% block main %}
    <h2>Calendário RAS</h2>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                themeSystem: 'slate',
                height: 'auto',
                locale: 'pt-br',
                buttonText: {
                    today:    'hoje',
                    month:    'mês',
                    week:     'semana',
                    day:      'dia',
                    list:     'list'
                },
                dateClick: function() {
                    window.alert("DIA LIVRE");
                },
                eventClick: function() {
                    window.alert("EVENTO");
                },
                // eventMouseEnter: function() {
                //     window.alert("MOUSE SOBRE O DIA")
                // },
                eventColor: '#378006',
                eventBackgroundColor: 'black',

                events: [
                    {% for event in events %}
                    {
                    groupId: 'testGroupId',
                    title: '{{event.title}}',
                    start: '{{event.start}}',
                    end: '{{event.end}}',
                    // display: 'background'
                    },
                    {% endfor %}
                ]
        })


            calendar.render();
        });

      </script>
      <div class="caixa">
          <div id="calendar"></div>
      </div>
    <!-- <div class="caixa">

    <div class="calendar">

        <div class="calendar-header">Dezembro 2024</div>

        <div class="calendar-days">
            <div>Dom</div>
            <div>Seg</div>
            <div>Ter</div>
            <div>Qua</div>
            <div>Qui</div>
            <div>Sex</div>
            <div>Sab</div>
        </div>

        <div class="calendar-dates">
            <div class="today">1</div> <div>2</div> <div>3</div> <div>4</div> <div>5</div> <div>6</div> <div>7</div> <div>8</div> <div>9</div> <div>10</div> <div>11</div> <div>12</div> <div>13</div> <div>14</div> <div>15</div> <div>16</div> <div>17</div> <div>18</div> <div>19</div><div>20</div> <div>21</div> <div>22</div> <div>23</div> <div>24</div> <div>25</div> <div>26</div><div>27</div> <div>28</div> <div>29</div> <div>30</div><div>31</div><div></div><div></div><div></div><div></div>
        </div> -->

{% endblock %}
