{% extends "layout.html" %}

{% block Title %}
    Selecione as Datas
{% endblock %}

{% block main %}
    <div id="select-confirma">
        <p id="instrucao">Selecione uma Data RAS</p>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                height: 'auto',
                locale: 'pt',
                handleWindowResize: true,
                selectable: true,
                dateClick: function(info) {

                    const confirmaData = document.getElementById("select-confirma");
                    let data_selecionada = info.dateStr;
                    if (document.contains(document.getElementById("formulario"))) {
                        document.getElementById("formulario").remove();
                        const formulario = document.createElement("form");
                    }
                    const formulario = document.createElement("form");
                    formulario.setAttribute('id', "formulario");
                    formulario.setAttribute('method', "POST");
                    formulario.setAttribute('action', "/select");

                    const form_input = document.createElement("input");
                    form_input.setAttribute('type', "hidden");
                    form_input.setAttribute('value', data_selecionada);
                    form_input.setAttribute('name', "selected_date");

                    const exibe_data = document.createElement("p")
                    exibe_data.setAttribute('value', data_selecionada)
                    exibe_data.innerText = data_selecionada;

                    const enviar_button = document.createElement("button");
                    enviar_button.setAttribute('type', "submit");
                    enviar_button.setAttribute('class', "btn btn-primary m-1");
                    enviar_button.innerText = "Enviar";

                    const instrucao = document.getElementById("instrucao");
                    instrucao.innerText = "Confirme sua escolhida: "
                    formulario.appendChild(form_input);
                    formulario.appendChild(exibe_data);
                    formulario.appendChild(enviar_button);
                    
                    confirmaData.appendChild(formulario);

                },
                eventClick: function() {
                    console.log("clicou no EVENTO");
                },
                // eventMouseEnter: function() {
                //     window.alert("MOUSE SOBRE O DIA")
                // },
                eventColor: '#378006',
                eventBackgroundColor: 'black',
                events: [
                    {% for event in events %}
                    {
                    groupId: '{{event.group_id}}',
                    title: '{{event.title}}',
                    start: '{{event.event_start}}',
                    end: '{{event.event_end}}',
                    // display: 'background'
                    },
                    {% endfor %}
                ]
        })
        calendar.render();
        });
      </script>
      <div id="calendar"></div>

{% endblock %}
